/* Variables para el modo claro */
:root {
  --bg: #fcfcfc;
  --accent-color: #0060df;
  --border-color: #50505090;
  --outline-color: #505050;
  --text: #333;
}

/* Variables para el modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #101016;
    --accent-color: #0060df;
    --border-color: #50505090;
    --outline-color: #505050ee;
    --text: #eee;
  }
}

body {
  width: 350px;
  font-family: "Segoe UI", Arial, sans-serif, -apple-system, BlinkMacSystemFont;
  color: var(--text);
  overflow: hidden;
  font-size: smaller;
}

#maintitle{
  text-align: end;
  font-size: initial;
  font-weight: 600;
}

/* Divisor de secciones */
#section-title{
  margin-block-end: 6px;
  font-weight: 700;
}

/* Tabla de colores */
table{
  vertical-align: middle;
  width: 100%;
}

th{
  text-align: end;
  font-weight: normal;
  width: 50%;
}

hr {
  border-top: 0px;
  border-bottom: 1px solid transparent;
}

/* ######################## Scrolls de temas ######################## */

.scrolling-card,
.scrolling-card1 {
  position: relative;
  flex: 0 0 auto;
  border: solid 1px var(--bg);
  border-radius: 2px;
  margin-block-start: 6px;
  margin-inline: 4px;
  width: 93px;
  height: 66px;/**/
  text-align: center;
}

.scrolling-card:last-child,
.scrolling-card1:last-child {
  margin-block-end: 6px;
}

.scrolling-card img,
.scrolling-card1 img {
  width: 100%;
  /*height: 49px;/**/
  border-radius: 2px;
}

.scrolling-card .theme-button,
.scrolling-card1 .theme-button{
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: transparent;
  color: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 93px;
  height: 66px;
  transition: 200ms;
  border-radius: 2px;
}

.scrolling-card .theme-button:hover,
.scrolling-card1 .theme-button:hover {
  background-color: color-mix(in srgb, var(--text)10%, transparent);
  color: transparent;
  outline: 1px solid var(--bg);
  transition-duration: 200px;
}

.scrolling-container,
.scrolling-container1 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-inline: 20px;
  overflow: hidden;
  width: 308px;
}

.scrolling-buttons-container,
.scrolling-buttons-container1{
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-inline: 0px;
  width: 350px;
  height: 78px;
}

/* Botón izquierda */
#scrolling-button-left, #scrolling-button-right,
#scrolling-button-left1, #scrolling-button-right1{
  background-color: transparent;
  background: url(chrome://global/skin/icons/arrow-left.svg) no-repeat center;
  background-size: 14px 14px;
  -moz-context-properties: fill;
  fill: var(--text);
  color: transparent;
  font-size: 16px;
  padding: 0px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  text-align: center;
  height: 78px;
  width: 16px;

  &:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
  }
  &:active{
    transform: scale(0.9);
  }
}

/* Botón derecha */
#scrolling-button-right,
#scrolling-button-right1 {
  background: url(chrome://global/skin/icons/arrow-right.svg) no-repeat center;
  background-size: 14px 14px;
}

/* ################# Swith toggle dark-light themes ################# */

#dark-light{
  width: 100%;
  text-align: center;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 162px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: color-mix(in srbg, var(--bg), transparent);
  outline: 1px solid var(--outline-color);
}

.slider:before {
  position: absolute;
  content: "Dark";
  font-size: medium;
  font-weight: 600;
  line-height: 31px;
  background-color: var(--accent-color);
  width: 80px;
  left: 1px;
  top: 1px;
  bottom: 1px;
}

input:checked + .slider {
  background-color: transparent;
}

input:checked + .slider:after {
  position: absolute;
  content: "Dark";
  font-size: medium;
  font-weight: 600;
  line-height: 31px;
  background-color: transparent;
  width: 80px;
  left: 1px;
  top: 1px;
  bottom: 1px;
}

input:not(:checked) + .slider:after {
  position: absolute;
  content: "Light";
  line-height: 31px;
  font-size: medium;
  font-weight: 600;
  background-color: transparent;
  width: 80px;
  right: 1px;
  top: 1px;
  bottom: 1px;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--bg);
}

input:checked + .slider:before {
  content: "Light";
  color: white;
  right: 1px;
  top: 1px;
  bottom: 1px;
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}

/* ##################### Footer + Ícono firefox ##################### */
.btngx {
  & img{
    width: 14px;
    height: 14px;
    -moz-context-properties: fill;
    fill: var(--text);
    vertical-align: middle;
    margin-inline-end: 6px;
    margin-block: 6px;
  }
}

.btngx {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  color: var(--text);
  border-color: transparent;
  vertical-align: middle;
  text-align: center;
}

.btngx, .btnrate {
  &:hover, &:hover image {
    color: var(--text);
    fill: var(--text);
    cursor: pointer;
  }
}

.btnrate {
  position: absolute;
  right: 8px !important;
  width: 60px;
  background-color: transparent;
  border-radius: 4px;
  color: var(--text);
  border-color: transparent;
  font-size: smaller;
}

.btnrate {
  & img{
    width: 12px;
    height: 13px;
    -moz-context-properties: fill;
    vertical-align: top;
    margin-inline-end: 6px;
  }
}

/* ###################### Estilos de Spectrum ###################### */
.sp-container {
  background-color: var(--bg);
  border-color: var(--border-color);
}

.sp-picker-container {
  /* Border-left indeseado */
  border-left: none;
}

.sp-replacer, .sp-replacer.sp-active{
  /* Colores botón previo del selector de color */
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

/* Borde botón previo del selector de color */
.sp-preview-inner{
  outline: 1px solid var(--border-color);
}

.sp-replacer:hover, .sp-replacer.sp-active {
  color: var(--text);
}

/* Borde del gradiente de colores */
.sp-dark, .sp-dark button, .sp-dark input, .sp-color, .sp-hue {
  border-color: #303030;
}

/* Input box */
.sp-input {
  background-color: var(--bg);
  color: var(--text);
  border-color: var(--border-color);
}

.sp-input:focus  {
  box-shadow: none;
  border-color: var(--accent-color);
  outline: none;
}