/* Variables para el modo claro */
:root {
  --bg: #fcfcfc;
  --accent-color: #0060df;
  --border-color: #50505090;
  --outline-color: #505050;
  --text: #333;
}

/* Variables para el modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #101016;
    --accent-color: #0060df;
    --border-color: #50505090;
    --outline-color: #505050ee;
    --text: #eee;
  }
}

body {
  width: 350px;
  height: auto;
  font-family: "Segoe UI", Arial, sans-serif, -apple-system, BlinkMacSystemFont;
  color: var(--text);
  overflow: hidden;
}

#maintitle{
  text-align: end;
  font-size: large;
  font-weight: 600;
}

/* Divisor de secciones */
#section-title{
  margin-block-end: 14px;
}

/* Tabla de colores */
table{
  margin-inline: 3%;
  vertical-align: middle;
  width: 94%;
}

th{
  text-align: end;
  font-weight: normal;
}

hr {
  border-top: 0px;
  border-bottom: 1px solid transparent;
}

/* ######################## Scrolls de temas ######################## */

.scrolling-card,
.scrolling-card1 {
  position: relative;
  width: 139px;
  max-width: 139px;
}

.scrolling-card img,
.scrolling-card1 img {
  width: 100%;
  height: 98px;
  border-radius: 2px;
}

.scrolling-card .theme-button,
.scrolling-card1 .theme-button{
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: transparent;
  color: transparent;
  font-size: 16px;
  padding: 0px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 139px;
  height: 98px;
  transition: 200ms;
  border-radius: 2px;
}

.scrolling-card .theme-button:hover,
.scrolling-card1 .theme-button:hover {
  background-color: color-mix(in srgb, var(--text)10%, transparent);
  color: transparent;
  outline: 1px solid var(--bg);
  transition-duration: 200px;
}

.scrolling-container,
.scrolling-container1 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-inline: 20px;
  overflow: hidden;
}

.scrolling-card,
.scrolling-card1 {
  position: relative;
  flex: 0 0 auto;
  border: solid 1px var(--bg);
  border-radius: 2px;
  margin: 6px;
  width: 250px;
  height: 98px;
  text-align: center;
}

.scrolling-buttons-container,
.scrolling-buttons-container1{
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-inline: 0px;
  width: 350px;
  height: 98px;
}

/* Botón izquierda */
#scrolling-button-left, #scrolling-button-right,
#scrolling-button-left1, #scrolling-button-right1{
  background-color: transparent;
  background: url("../data/icons/back.svg") no-repeat center;
  background-size: 14px 14px;
  -moz-context-properties: fill;
  fill: var(--text);
  color: transparent;
  font-size: 16px;
  padding: 0px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  text-align: center;
  height: 98px;
  width: 16px;
  margin-block-start: 6px;
}

/* Botón derecha */
#scrolling-button-right,
#scrolling-button-right1 {
  background: url("../data/icons/forward.svg") no-repeat center;
  background-size: 14px 14px;
}

/* ################# Swith toggle dark-light themes ################# */

#dark-light{
  width: 100%;
  text-align: center;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: color-mix(in srbg, var(--bg), transparent);
  transition: .2s;
  outline: 1px solid var(--outline-color);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transition: .2s;
  background-color: transparent;
  -moz-context-properties: fill;
  fill: var(--text);
  background: url("icons/dark.svg");
}

input:checked + .slider {
  background-color: var(--bg);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--bg);
}

input:checked + .slider:before {
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  -moz-context-properties: fill;
  fill: var(--text);
  background: url("icons/light.svg");
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ##################### Footer + Ícono firefox ##################### */
.btngx img{
  width: 14px;
  height: 14px;
  -moz-context-properties: fill;
  fill: var(--text);
  max-height: 40px;
  vertical-align: middle;
  margin-right: 8px;
}

.btngx{
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  color: var(--text);
  border-color: transparent;
  vertical-align: middle;
  text-align: center;
}

.btngx:hover, .btngx:hover img{
  color: var(--text);
  fill: var(--text);
  text-decoration: underline;
}

/* ###################### Estilos de Spectrum ###################### */
.sp-container {
  background-color: var(--bg);
  border-color: var(--border-color);
}

.sp-picker-container {
  /* Border-left indeseado */
  border-left: none;
}

.sp-replacer, .sp-replacer.sp-active{
  /* Colores botón previo del selector de color */
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

/* Borde botón previo del selector de color */
.sp-preview-inner{
  outline: 1px solid var(--border-color);
}

.sp-replacer:hover, .sp-replacer.sp-active {
  color: var(--text);
}

/* Borde del gradiente de colores */
.sp-dark, .sp-dark button, .sp-dark input, .sp-color, .sp-hue {
  border-color: #303030;
}

/* Input box */
.sp-input {
  background-color: var(--bg);
  color: var(--text);
  border-color: var(--border-color);
}

.sp-input:focus  {
  box-shadow: none;
  border-color: var(--accent-color);
  outline: none;
}